@model List<Product>
@{
}

<h2 class="text-center mb-5">Ürün listesi</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp asp-controller="Products" asp-action="Create">Yeni Ürün</a>
    </div>
    <div class="col">

    </div>
</div>